* {
  margin: 0;

  padding: 0;
}

html {
	height: 100%;
}
body
{	
	min-height: 100%;
	width:100%;
	background-color : #E6E6E6; 
	margin: 0%;
	padding: 0%;
	position: relative;
	}

.conteneur1
{
	display: flex;
	height: 80px;
	text-align: center;
	width: 100%;
	display: hidden;
	height: 70;
	background-color: #5dbcd2;
	position : fixed;
	box-shadow : 3px 3px 3px;
	top:0;
	
	}
.element1{
	size
}

footer
{
	margin-bottom: 0%;
}


	

p
{
	font-family: trebuchet MS;
}


.element
{
	width: 8%;
	height: 50px;
	font-size: 12px;
	color: white;
	padding-top: 30px;
	font-family: verdana;
	
}

.elementliengit a 
{
	width: 8%;
	height: 50px;
	font-size: 12px;
	color: white;
	padding-top: 40px;
	font-family: verdana;
	
	
}

.vide
{
	width: 11%;
	font-size: 12px;
	padding-top: 14px;
	font-family: verdana;
}

.vide_bas_de_page
{
	width: 20%;
	font-size: 12px;
	padding-top: 14px;
	font-family: verdana;
}

.grandvide
{
	width : 36%;
}

.encre1
{
	width: 8%;
	height: 50px;
	font-size: 12px;
	color: white;
	padding-top: 25px;
	font-family: verdana;

}

.encre
{
	width: 8%;
	height: 50px;
	font-size: 12px;
	color: white;
	padding-top: 25px;
	font-family: verdana;

}

a 
{
   text-decoration: none;
   font-family: trebuchet MS;
   color: black;

}

a:hover
{
	color: #195e83;
}

h1
{
	text-align: center;
	padding-top: 15%;
	padding-right: auto;
	font-size: 40px;
	color: #008590;
	text-shadow: 2px 2px 2px black;
}
h2
{
	text-align: center;
	padding-top: 15%;
	padding-right: auto;
	font-size: 40px;
	color: #008590;
	text-shadow: 2px 2px 2px black;
}

.section1
{
	background-image: url("Dell-Technologies-Cloud-Accelerates-Customers-Multi-Cloud-Journey- (1).jpg");
	background-position: top center;
	background-repeat: no-repeat;
	margin-left: 0%;
	margin-right: 0%;

	height: 100%;
	width: 100%;
	margin-top: 4%;

	
	
	
}



.imgpage1
{ 
	height: 125px;
	border: 2px black solid;
}

.conteneurimg
{
	display: flex;
	justify-content: space-around;
	margin-top: 20%;
	margin-bottom: 20%;

}

.conteneur_sep_header_sec
{
	display: flex;
}


.sep_vert
{
	height: 1px;
	width: 15%;
	background-color: #5dbcd2;
}

.sep_noir
{
	height: 1px;
	width: 70%;
	background-color: black
}



.conteneur_bas_de_page
{
	display: flex;
	height: 80px;
	text-align: center;
	width: 100%;
	display: hidden;
	height: 70%;
	background-color: #5dbcd2;


	margin-bottom: 0%;
	
	}
	
.page1footer
{
	margin-top: 10%;
}


.tableau
{
	text-align: center;
}

  table {
 border: medium solid #000000;
 width: 50%;
 border-collapse: collapse;
 border-collapse: collapse;
 text-align:center;
 margin: auto;
 background-color: #5dbcd2;
 margin-top:1%

 }
 td, th {
 border: thin solid #6495ed;
 width: 50%;
 border-color: black;
 width: 25%;
 height: 70px;
 font-family: 'eczar';
 }
 .titre_tableau{
 	font-family: 'Oswald';
	width:50%;
	margin-left: auto;
	margin-right: auto;
}

.menu3{
	background-color: #E6E6E6;
	}
.sources{
	bottom: 5;
}
footer
{
	
	width: 100%;
}
.menu3{
	background-color: #E6E6E6;
}
p{
	font-family: 'eczar';
}
h1{
	font-family: 'Oswald';
}
.accueil{
	background-color: #E6E6E6;
}
.menu2{
	background-color: #E6E6E6;
}
.menu1{
	background-color: #E6E6E6;
}
.graphique{
	margin-left: 15%;
	margin-right: 25%;
	margin-top: 5%;
	margin-bottom: 5%;
	width: 70%;
}



/*Vidéo au centre */
#video
{
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 1200px;
	padding: 20px;
}
iframe
{
	border: 5px solid black;
}

#video a
{
	margin-top: 10px;
	text-decoration: none;
	color: #393C53;
}
#video a:hover
{
	color: #000000;
}
#video a:visited
{
	color: #9C9EA0;
}
.titre
{
	font-size: 1.5em;
}

.video3
{
	margin-bottom: 10%;
}

/* --------------------------------------------------début css pour la page 2-------------------------------------------------- */

.contenuPage2{
	margin-left: 15%;
	margin-right :15%;
	margin-top: 10%;
}





.sujet1 {
	border:2px solid blue; /* Cela permet de crée le contoure bleu autour de chaque sujet */
	display: flex;
	flex-direction: row-reverse; /* utilisation de flex box pour pouvoir organiser l'image et le texte à l'intérieur de chaque sujet */
	margin-top: 2%;
	margin-bottom: 2%;
	border-radius: 5px; /* Ligne pour que les angles des bordures bleu sois arrondi */
}

.sujet2 {
	border:2px solid blue; /* Cela permet de crée le contoure bleu autour de chaque sujet */
	display: flex;
	flex-direction: row; /* utilisation de flex box pour pouvoir organiser l'image et le texte à l'intérieur de chaque sujet */
	margin-top: 2%;
	margin-bottom: 2%;
	border-radius: 5px; /* Ligne pour que les angles des bordures bleu sois arrondi */
}

.sujet3 {
	border:2px solid blue; /* Cela permet de crée le contoure bleu autour de chaque sujet */
	display: flex;
	flex-direction: row-reverse; /* utilisation de flex box pour pouvoir organiser l'image et le texte à l'intérieur de chaque sujet */
	margin-top: 2%;
	margin-bottom: 2%;
	border-radius: 5px; /* Ligne pour que les angles des bordures bleu sois arrondi */
}

.sujet4 {
	border:2px solid blue; /* Cela permet de crée le contoure bleu autour de chaque sujet */
	display: flex;
	flex-direction: row; /* utilisation de flex box pour pouvoir organiser l'image et le texte à l'intérieur de chaque sujet */
	margin-top: 2%;
	border-radius: 5px; /* Ligne pour que les angles des bordures bleu sois arrondi */
}
h3 {
	display: flex;
	flex-direction:
}

.Image_Intro {

	width:100%;
	height:100%;
	
}	

.texte_definition{
	margin-left:1%;
}

.texte_fonctionnement{
	margin-left:1%;
}

.texte_iot{
	margin-left:1%;
}

.texte_exemple{
	margin-left:1%;
}
/* --------------------------------------------- Fin CSS de la Page 2 ---------------------------------------------- */